<%= b.fields_for :address do |loc| %>
    <div class="row-fluid">
      <div class="span3">
        <%= loc.label :road %>
      </div>
      <div class="span4">
        <%= loc.text_field :road, :class => "span3" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <%= loc.label :pincode %>
      </div>
      <div class="span4">
        <%= loc.number_field :pincode, :class => "span3" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <%= loc.label :latitude %>
      </div>
      <div class="span4">
        <%= loc.number_field :latitude, :class => "span3" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <%= loc.label :longitude %>
      </div>
      <div class="span4">
        <%= loc.number_field :longitude, :class => "span3" %>
      </div>
    </div>
<% end %>
